<div class="jumbotron">
    <h1>Dungeons & Databases</h1>
    <p class="lead">A restful API for managing RPG campaigns and characters.</p>
    <p><a href="https://github.com/JoshHambright/DungeonsAndDatabases" class="btn btn-danger btn-lg">Visit our Github Page &raquo;</a></p>
</div>
<h1 style="font-weight:bolder;">Roll for initiative!</h1>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <ul>
            <li>Create, View, Edit and Delete your own player profile</li>
            <li>Create, View, Edit and Delete multiple characters per player</li>
            <li>Create, View, Edit and Delete Campaigns as the Dungeon Master</li>
            <li>Track campaign membership and allow only your players and yourself to view your campaigns</li>
            <li>Keep track of home brew items and loot found by the party</li>
            <li>Roll virtual dice</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>View API Documentation</h2>
        <p>This API features multiple endpoints to allow you to perform CRUD on Campaigns, Players, Characters, Loot and more. Visit our API documentation to learn more.</p>
        <p><a class="btn btn-danger" href="/Help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future Features</h2>
        <p>We have several more features planned to add to this project, visit our project Trello board to see our current tickets and plans</p>
        <p><a class="btn btn-danger" href="https://trello.com/b/p2DQ82v9">Learn more &raquo;</a></p>
    </div>
</div>
